<div class="container-fluid padding-body  pad-top " id="register">

    <div class="row text-center">
        <h1 class="col-12 pad-bottom-30" >Registro de Usuarios</h1>
        <div class="col-12 col-md-6 ">
            <div class="card ">
                <a [routerLink]="['/registrarse/viajero']">
                  <img class="card-img-top" src="https://turismoi.pe/assets/registro-viajero-8e82993b95945f432e9e82567fe8d0b9.png/" alt="Card image cap">
                </a>
                <div class="card-body">
                  <a [routerLink]="['/registrarse/viajero']"  class="btn btn-success col-12" role="button">Soy Viajero</a>
                </div>
            </div>
        </div>
  
        <div class="col-12 col-md-6 ">
          <div class="card ">
            <a [routerLink]="['/registrarse/agencia']">
              <img class="card-img-top" src="https://turismoi.pe/assets/registro-agencia-c379398c7528c61292784f1821940ff9.png" alt="Card image cap">
            </a>
            <div class="card-body">
                <a [routerLink]="['/registrarse/agencia']" class="btn btn-primary col-12" role="button">Agencia de Viaje</a>
            </div>
          </div>
  
        </div>
    </div>
  
  </div>